
@*/Richard Wilhian Schug
    richard.schug@catolicasc.org.br*@
@model  AvaliacaoTP2.Models.AssociationType
@{
    ViewBag.Title = "DetalharTipoAssociacao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ID: @Model.Id</h2><br />
<li>
    <ul>Nome: @Model.Nome</ul>
    <ul>Periodo: @Model.Periodo</ul>
    <ul>Mensalidade: @Model.Mensalidade</ul>
</li>


