@*/Richard Wilhian Schug
    richard.schug@catolicasc.org.br*@

@model  AvaliacaoTP2.Models.Band
@{
    ViewBag.Title = "DetalharFaixa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ID: @Model.Id</h2><br />
<li>
    <ul>Nome: @Model.Nome</ul>
    <ul>Grau: @Model.Grau</ul>
</li>


