@*/Richard Wilhian Schug
    richard.schug@catolicasc.org.br*@

@model AvaliacaoTP2.ViewModels.BandIndexView

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Faixas</h3>

@if (@Model.Faixas.Count> 0)
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr><th>Nome</th><th>Grau</th></tr>
        </thead>
        <tbody>

            @foreach (var faixa in Model.Faixas)
            {
                <tr>
                    <td>@Html.ActionLink(faixa.Nome, "DetalharFaixa", new { faixa.Id })</td>
                    <td>@faixa.Grau</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não existe nenhum aluno ainda.</p>
}



